body {
    margin: 0;
    background: #eee;
}
img {
    display: block;
    width: 100%;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.wrapper {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    position: absolute;
    width: 960px;
    height: 360px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #fff;
    padding: 15px;
    &::before,
    &::after {
        content: "";
        position: absolute;
        z-index:  -1;
        bottom:15px;
        left:15px;
        width:50%;
        height:20%;
        box-shadow:0 18px 10px rgba(0, 0, 0, 0.4);
        transform:rotate(-3deg);
    }
    &::after{
        right:15px;
        left:auto;
        transform:rotate(3deg);
    }
}
.mySlider {
    overflow: hidden;
    position: relative;
    &-sliderShow{
        position: absolute;
        top: 0;
        z-index: 1;
        &-item {
            float: left
        }
    }
    &:hover > &-control-prev,
    &:hover > &-control-next {
        opacity: 1;
        transition: opacity .3s;
    }

    &-control-prev,
    &-control-next {
        opacity: 0;
        transition: opacity .3s;
        width: 35px;
        height: 65px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
        &::before {
            content: "";
            display: block;
            width: 25px;
            height: 25px;
            border:none;
            border-top: 2px solid rgba(255, 255, 255, .3);
            border-left: 2px solid rgba(255, 255, 255, .3);
            transform: translateY(-50%) rotate(-45deg);
            position: absolute;
            top: 50%;    
        }
        &:hover {
            background: rgba(0, 0, 0, .3);
            &::before {
                border-top: 2px solid rgba(255, 255, 255, .8);
                border-left: 2px solid rgba(255, 255, 255, .8); 
            }
        }
    }
    &-control-prev {
        &::before {
            left: 11px;
        }
    }
    &-control-next {
        right: 0;
        &::before {
            transform: translateY(-50%) rotate(135deg);
            right: 11px;
        }
    }
    &-pager {
        position: absolute;
        bottom: 5px;
        right: 30px;
        font-size: 0;
        z-index: 3;
        &-item { 
            display: inline-block;
            width: 7px;
            height: 7px;
            box-shadow: 0 0 3px rgba(255, 255, 255, .5);
            background: rgba(255, 255, 255, .5);
            margin: 0 10px;
            cursor: pointer;
            &:hover {
                background: rgba(0, 0, 0, .3);
            }
        }
        &-item.active {
            border-radius: 50%;
            background: rgba(0, 0, 0, .5);
        }
    }
}

