/* iconfont symbol*/
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
.minw1226 {width:100%;min-width:1226px;}
.width1226 {width:1226px;margin:auto;}


.other{
	margin-top:100px;
	height:300px;
}